- name: Configure Docker on EC2 Instances
  hosts: all
  become: true
  connection: ssh

  tasks:
    - name: Update apt package list
      command: apt-get update

    - name: Install Docker
      command: apt-get install -y docker.io

    - name: Start Docker Service
      command: systemctl start docker

    - name: Deploy Docker Container
      command: docker run -itd -p 8084:8081 pravinkr11/star-banking:latest
